body{
    background-color: rgb(147, 247, 144);
}
form{
    display: flex;
    flex-direction: column;
    padding: 25px;;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: rgb(215, 250, 225);
}

h1{
    margin-left: auto;
    margin-right: auto;
}
